* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    width: 2000px;
    height: 600px;
    background-color:#7D6B91;
    border: 5px solid #5D536B;
    position: relative;
    overflow: hidden;
    top: 50px;

}

#container:hover {
    cursor: pointer;
}

#layer1 {
    background-image: url("layer_6.png");
    width: 2200px;
    height: 500px;
    top: 145px;
    position: absolute;
    z-index: 10;
}
#layer2 {
    background-image: url("layer_5.png");
    width: 2200px;
    height: 500px;
    top: 143px;
    position: absolute;
    z-index: 9;
}
#layer3 {
    background-image: url("layer_4.png");
    width: 2200px;
    height: 500px;
    top: 140px;
    position: absolute;
    z-index: 8;
}
#layer4 {
    background-image: url("layer_3.png");
    width: 2200px;
    height: 500px;
    top: 138px;
    position: absolute;
    z-index: 7;
}
#layer5 {
    background-image: url("layer_2.png");
    width: 2200px;
    height: 500px;
    top: 136px;
    position: absolute;
    z-index: 6;
}
#layer6 {
    background-image: url("layer_1.png");
    width: 2200px;
    height: 500px;
    top: 134px;
    position: absolute;
    z-index: 5;
}
#layer7 {
    background-image: url("layer_0.png");
    width: 2200px;
    height: 500px;
    top: 132px;
    position: absolute;
    z-index: 4;
}